/******************** ELEMENT SELECTORS ********************/
a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    background-color: #F9F5E7;
    font-family: 'Libre Baskerville', serif;
}

hr {
    height: 0px;
    border-top-width: 5px;
    width: 3%;
    border-style: dotted none none;
    background-color: #FEFAE0;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h1, h3 {
    color: #5e4118;
    font-family: 'Cinzel', serif;
}

h3 {
    font-size: 2rem;
    display: inline-block;
    margin: 0;
}

td, li {
    padding: 1%;
}

ul li::marker {
    color: #5e4118;
}

/******************** CLASS SELECTORS ********************/

.separator {
    margin-top: 5%;
    text-align: center;
}

.line {
    display: inline-block;
    margin: 0;
    opacity: 15%;
    height: 2rem;
}

.grid-container-experience {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    gap: 0.2rem;
    /* grid-template-rows: repeat(6, 1fr); */
}

.grid-container-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.2rem;
}

.margin-left {
    margin: 0 25%;
}

.orange-bg {
    background-color: #e5c597;
}

/***********************  ID SELECTORS ***************************/


/***********************  FIRST SECTION ***************************/

.first-section {
    width: 48%;
    display: inline-block;
    visibility:hidden;
}
.img-jesus {
    position: relative;
    width: 20%;
    padding: 0 25%;
    margin-bottom: 2%;
}
.center {
    text-align: center;
}

/*********************** FOOTER ***************************/

footer {
    margin: 5% 0 0;
    background-color: #5e4118;
    padding: 5%;
    text-align: center;
}

footer a{
    color: #F9F5E7;
    padding: 0 3%;
}

.footer-text {
    font-size: 0.7rem;
    color: #F9F5E7;
    opacity: 50%;
    line-height: 4;
}


/***********************  MEDIA ***************************/

@media (max-width: 900px) {
    .img-jesus {
        width: 50%;
    }
    .line {
        height: 1.5rem;
    }
    body {
        margin: 0 5%;
    }
}
@media (max-width: 780px) {
    .line {
        height: auto;
        width: 20%;
    }
    .margin-left {
        margin: 0;
    }
}
@media (min-width: 339px) and (max-width: 680px) {
    .line {
        display: block;
        height: auto;
        margin: 0 auto;
    }
    p {
        font-size: 0.8rem;
    }
}


